@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=IBM+Plex+Sans+Arabic:wght@300;400;500;600&family=Inter:wght@200;300;400;500;600&display=swap');
@import "tailwindcss";

html,
body {
  height: 100dvh;
}

body {
  font-family: Inter, sans-serif;
  background-color: #0A0908;
  color: #E3D5CA;
}

/* UI Polish: Hide Scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}